__pycache__
.ipynb_checkpoints/*
debug.log

build/*
_build
dist/*
torchattacks.egg-info/*
data/*
models/*
*/.*
MENIFEST.in
setup.cfg
_commit.bat

yolo_adv/ad_data/norm/*

autoattack/*

demo/_*
demo/data/*
demo/models/*
demo/torchdefenses/*
demo/robustbench/*
demo/autoattack/*
TODO.txt
.vscode/
coverage.xml
.coverage
black.ipynb
yolo_adv/classifier/runs/*
```
