# For torchattacks
# torch>=1.4.0  # It forces to update torch to LTS version.
torch==2.5.1 --index-url https://download.pytorch.org/whl/cu124
torchvision==0.20.1 --index-url https://download.pytorch.org/whl/cu124
torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu124
scipy>=0.14.0
tensorboard
scikit-learn
# For robustbench.
tqdm>=4.56.1 
requests>=2.25.1
pandas>=1.2.4
numpy>=1.19.4
matplotlib
